<section class="section section--packages" id="packages">
  <div class="inner">
    <h2>Das passende Angebot für Ihre MPU Vorbereitung</h2>

    <div class="packages">
      <div class="packages__description">
        <p>Zusätzlich oder alternativ zur <b>persönlichen Beratung</b> biete ich verschiedene Möglichkeiten zur <b>selbstständigen MPU Vorbereitung</b> an.</p>
        <p><b>Wählen Sie Ihr passendes Paket aus:</b></p>
      </div>
      <div class="package package--basic">
        <span class="package__level">Basic</span>
        <h3 class="package__title">Paket 1</h3>
        <span class="package__subtitle h6">Ihre Vorteile</span>
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consetetur sadipscing elitr</li>
          <li>Sed diam nonumy eirmod</li>
          <li>Labore et dolore magna aliquyam erat</li>
        </ul>          <p>Preis ab <b>190€</b></p>
        <a class="button" href="/">Jetzt bestellen</a>
      </div>
      <div class="package package--standard">
        <span class="package__level">Standard</span>
        <h3 class="package__title">Paket 2</h3>
        <span class="package__subtitle h6">inkl. Basic Paket</span>
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consetetur sadipscing elitr</li>
          <li>Sed diam nonumy eirmod</li>
          <li>Labore et dolore magna aliquyam erat</li>
        </ul>          <p>Preis ab <b>290€</b></p>
        <a class="button" href="/">Jetzt bestellen</a>
      </div>
      <div class="package package--premium">
        <span class="package__level">Premium</span>
        <h3 class="package__title">Paket 3</h3>
        <span class="package__subtitle h6">inkl. Basic und Standard Paket</span>
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consetetur sadipscing elitr</li>
          <li>Sed diam nonumy eirmod</li>
          <li>Labore et dolore magna aliquyam erat</li>
        </ul>
        <p>Preis ab <b>390€</b></p>
        <a class="button" href="/">Jetzt bestellen</a>
      </div>
    </div>
  </div>
</section>
