<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Mit Erfolg zurück zum Führerschein: Professionelle MPU Vorbereitung und Beratung im Landkreis Karlsruhe, Heilbronn und im Enzkreis. Bei Ihnen vor Ort oder online.">
  <meta name="keywords" content="MPU, Idiotentest, Vorbereitung, Beratung, Psychologisches Gutachten, Sulzfeld, Bretten, Enzkreis, Karlsruhe, Sinsheim">
  <meta name="author" content="Jennifer Sokopp, B.Sc.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="geo.region" content="DE-BW" />
  <meta name="geo.placename" content="Sulzfeld" />
  <meta name="geo.position" content="49.097985;8.853371" />
  <meta name="ICBM" content="49.097985, 8.853371" />

  <title>MPU Beratung Jennifer Sokopp | Impressum</title>
  <link rel="alternate" hreflang="de" href="https://www.mpu-sokopp.de/datenschutz"/>
  <link rel="stylesheet" href="/dist/css/index.min.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="favicon.ico">
  <link rel="shortcut icon" href="favicon.ico" sizes="196x196">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LWNFSSCTV3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LWNFSSCTV3');
</script>
