@use "../01-settings" as *;

.bg {
  &-green {
    background-color: var(--color-green);
  }
  &-green-light {
    background-color: var(--color-green-light);
  }
  &-petrol {
    background-color: var(--color-petrol);
  }
  &-blue {
    background-color: var(--color-blue);
  }
}

[class^="bg-"] {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);

  .inner {
    max-width: 100%;
  }
}

