@use "../01-settings" as *;

.kpi {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  align-content: center;
  justify-content: center;
  text-align: center;

  @media (min-width: $l) {
    background: var(--color-green-light);
    padding: var(--space-m);
  }

  &__number {
    font-size: 96px;
    color: var(--color-secondary);
    font-weight: 900;
    position: relative;

    @media (max-width: $l) {
      font-size: 72px;
    }
  }
}
