// breakpoints
$xxl: 1920px;
$xl: 1440px;
$l: 1024px;
$m: 768px;
$s: 640px;
$xs: 380px;

:root {
  /* colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #222222;

  // green blue scheme
  --color-green: #15a89e;
  --color-green-light: #eaf5f4;
  --color-petrol: #1e6d83;
  --color-blue: #27326d;
  --color-blue-light: #f6f7f9;

  /*
  --color-blue-light: #43E0F2;
  --color-blue: #2565C7;
  --color-blue-dark: #123B77;
  --color-grey-light: #f8f9ff;
  --color-grey-dark: #102A51;
  --color-red: #F6477D;
   */

  --color-primary: var(--color-blue);
  --color-secondary: var(--color-green);

  --color-text: var(--color-grey);
  --color-headlines: var(--color-blue);

  --gradient-blue: linear-gradient(135deg,rgba(67,224,242,1) 0%,rgba(18,59,119,0.5) 100%);
  --gradient-soft: linear-gradient(180deg,hsla(0,0%,100%,0),#e9f5f4);

  /* font */
  --font-base: 'Source Sans Pro', Helvetica, Arial, sans-serif;

  /* spacing */
  --space-xs: 8px;
  --space-s: 16px;
  --space-m: 32px;
  --space-l: 64px;
  --space-xl: 128px;

  --grid-width: 1400px;
  --grid-col-width: 84px;
  --grid-gap-width: 32px;
  --grid-gap-width-mobile: 64px;
  --grid-col-count: 1;

  @media (min-width: $m) {
    --grid-col-count: 2;
  }
  @media (min-width: $l) {
    --grid-col-count: 6;
  }
  @media (min-width: $xl) {
    --grid-col-count: 12;
    --grid-col-width: 84px;
  }

  // z-index
  --z-content: 1;
  --z-controls: 5;
  --z-overlay: 10;

  // others
  --height-header: 79px;

  // icons
  --icon-external-white: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik0yMSAzaC02bTYgMGwtOSA5bTktOXY2IiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD48cGF0aCBkPSJNMjEgMTN2NmEyIDIgMCAwMS0yIDJINWEyIDIgMCAwMS0yLTJWNWEyIDIgMCAwMTItMmg2IiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiPjwvcGF0aD48L3N2Zz4K');
  --icon-external-green: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik0yMSAzaC02bTYgMGwtOSA5bTktOXY2IiBzdHJva2U9IiMxNWE4OWUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD48cGF0aCBkPSJNMjEgMTN2NmEyIDIgMCAwMS0yIDJINWEyIDIgMCAwMS0yLTJWNWEyIDIgMCAwMTItMmg2IiBzdHJva2U9IiMxNWE4OWUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiPjwvcGF0aD48L3N2Zz4K');
  --icon-external-blue: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik0yMSAzaC02bTYgMGwtOSA5bTktOXY2IiBzdHJva2U9IiMyNzMyNmQiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD48cGF0aCBkPSJNMjEgMTN2NmEyIDIgMCAwMS0yIDJINWEyIDIgMCAwMS0yLTJWNWEyIDIgMCAwMTItMmg2IiBzdHJva2U9IiMyNzMyNmQiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiPjwvcGF0aD48L3N2Zz4K');

  --icon-chat-white: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik04IDEwaDhNOCAxNGg0TTEyIDIyYzUuNTIzIDAgMTAtNC40NzcgMTAtMTBTMTcuNTIzIDIgMTIgMiAyIDYuNDc3IDIgMTJjMCAxLjgyMS40ODcgMy41MyAxLjMzOCA1TDIuNSAyMS41bDQuNS0uODM4QTkuOTU1IDkuOTU1IDAgMDAxMiAyMnoiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjwvc3ZnPgo=');
  --icon-chat-green: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik04IDEwaDhNOCAxNGg0TTEyIDIyYzUuNTIzIDAgMTAtNC40NzcgMTAtMTBTMTcuNTIzIDIgMTIgMiAyIDYuNDc3IDIgMTJjMCAxLjgyMS40ODcgMy41MyAxLjMzOCA1TDIuNSAyMS41bDQuNS0uODM4QTkuOTU1IDkuOTU1IDAgMDAxMiAyMnoiIHN0cm9rZT0iIzE1YTg5ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjwvc3ZnPgo=');
  --icon-chat-blue: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik04IDEwaDhNOCAxNGg0TTEyIDIyYzUuNTIzIDAgMTAtNC40NzcgMTAtMTBTMTcuNTIzIDIgMTIgMiAyIDYuNDc3IDIgMTJjMCAxLjgyMS40ODcgMy41MyAxLjMzOCA1TDIuNSAyMS41bDQuNS0uODM4QTkuOTU1IDkuOTU1IDAgMDAxMiAyMnoiIHN0cm9rZT0iIzI3MzI2ZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjwvc3ZnPgo=');

  --icon-mail-white: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiI+PHBhdGggZD0iTTcgOWw1IDMuNUwxNyA5IiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD48cGF0aCBkPSJNMiAxN1Y3YTIgMiAwIDAxMi0yaDE2YTIgMiAwIDAxMiAydjEwYTIgMiAwIDAxLTIgMkg0YTIgMiAwIDAxLTItMnoiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxLjUiPjwvcGF0aD48L3N2Zz4K');
  --icon-mail-green: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiI+PHBhdGggZD0iTTcgOWw1IDMuNUwxNyA5IiBzdHJva2U9IiMxNWE4OWUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD48cGF0aCBkPSJNMiAxN1Y3YTIgMiAwIDAxMi0yaDE2YTIgMiAwIDAxMiAydjEwYTIgMiAwIDAxLTIgMkg0YTIgMiAwIDAxLTItMnoiIHN0cm9rZT0iIzE1YTg5ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiPjwvcGF0aD48L3N2Zz4K');
  --icon-mail-blue: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiI+PHBhdGggZD0iTTcgOWw1IDMuNUwxNyA5IiBzdHJva2U9IiMyNzMyNmQiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD48cGF0aCBkPSJNMiAxN1Y3YTIgMiAwIDAxMi0yaDE2YTIgMiAwIDAxMiAydjEwYTIgMiAwIDAxLTIgMkg0YTIgMiAwIDAxLTItMnoiIHN0cm9rZT0iIzI3MzI2ZCIgc3Ryb2tlLXdpZHRoPSIxLjUiPjwvcGF0aD48L3N2Zz4K');

  --icon-phone-white: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik0xOC4xMTggMTQuNzAyTDE0IDE1LjVjLTIuNzgyLTEuMzk2LTQuNS0zLTUuNS01LjVsLjc3LTQuMTNMNy44MTUgMkg0LjA2NGMtMS4xMjggMC0yLjAxNi45MzItMS44NDcgMi4wNDcuNDIgMi43ODMgMS42NiA3LjgzIDUuMjgzIDExLjQ1MyAzLjgwNSAzLjgwNSA5LjI4NiA1LjQ1NiAxMi4zMDIgNi4xMTMgMS4xNjUuMjUzIDIuMTk4LS42NTUgMi4xOTgtMS44NDh2LTMuNTg0bC0zLjg4Mi0xLjQ3OXoiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjwvc3ZnPgo=');
  --icon-phone-green: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik0xOC4xMTggMTQuNzAyTDE0IDE1LjVjLTIuNzgyLTEuMzk2LTQuNS0zLTUuNS01LjVsLjc3LTQuMTNMNy44MTUgMkg0LjA2NGMtMS4xMjggMC0yLjAxNi45MzItMS44NDcgMi4wNDcuNDIgMi43ODMgMS42NiA3LjgzIDUuMjgzIDExLjQ1MyAzLjgwNSAzLjgwNSA5LjI4NiA1LjQ1NiAxMi4zMDIgNi4xMTMgMS4xNjUuMjUzIDIuMTk4LS42NTUgMi4xOTgtMS44NDh2LTMuNTg0bC0zLjg4Mi0xLjQ3OXoiIHN0cm9rZT0iIzE1YTg5ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjwvc3ZnPgo=');
  --icon-phone-blue: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik0xOC4xMTggMTQuNzAyTDE0IDE1LjVjLTIuNzgyLTEuMzk2LTQuNS0zLTUuNS01LjVsLjc3LTQuMTNMNy44MTUgMkg0LjA2NGMtMS4xMjggMC0yLjAxNi45MzItMS44NDcgMi4wNDcuNDIgMi43ODMgMS42NiA3LjgzIDUuMjgzIDExLjQ1MyAzLjgwNSAzLjgwNSA5LjI4NiA1LjQ1NiAxMi4zMDIgNi4xMTMgMS4xNjUuMjUzIDIuMTk4LS42NTUgMi4xOTgtMS44NDh2LTMuNTg0bC0zLjg4Mi0xLjQ3OXoiIHN0cm9rZT0iIzI3MzI2ZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjwvc3ZnPgo=');

  --icon-send-white: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik0yMiAxMkwzIDIwbDMuNTYzLThMMyA0bDE5IDh6TTYuNSAxMkgyMiIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L3BhdGg+PC9zdmc+Cg==');
  --icon-send-green: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik0yMiAxMkwzIDIwbDMuNTYzLThMMyA0bDE5IDh6TTYuNSAxMkgyMiIgc3Ryb2tlPSIjMTVhODllIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L3BhdGg+PC9zdmc+Cg==');
  --icon-send-blue: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik0yMiAxMkwzIDIwbDMuNTYzLThMMyA0bDE5IDh6TTYuNSAxMkgyMiIgc3Ryb2tlPSIjMjczMjZkIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L3BhdGg+PC9zdmc+Cg==');

  --icon-star-white: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik04LjU4NyA4LjIzNmwyLjU5OC01LjIzMmEuOTExLjkxMSAwIDAxMS42MyAwbDIuNTk4IDUuMjMyIDUuODA4Ljg0NGEuOTAyLjkwMiAwIDAxLjUwMyAxLjU0MmwtNC4yMDIgNC4wNy45OTIgNS43NWMuMTI3LjczOC0uNjUzIDEuMy0xLjMyLjk1MkwxMiAxOC42NzhsLTUuMTk1IDIuNzE2Yy0uNjY2LjM0OS0xLjQ0Ni0uMjE0LTEuMzE5LS45NTNsLjk5Mi01Ljc1LTQuMjAyLTQuMDdhLjkwMi45MDIgMCAwMS41MDMtMS41NGw1LjgwOC0uODQ1eiIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L3BhdGg+PC9zdmc+Cg==');

}
