@use "./01-settings" as *;

:root {
  --width-body-scrollbar: 8px;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: -webkit-fill-avaiable;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: fixed !important;
  font-size: remcalc(16);
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  clear: both;
  overflow-y: scroll;
  z-index: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

main {
  flex-grow: 1;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: transparent;
  border-width: 0;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  margin: 0;
  padding: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  margin: 0;
  padding: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
